.Main {
  background-color: cornflowerblue;
  height: 100vh;
}

.Wrap {
  max-width: 1200px;
  margin: auto;
  padding: 30px 15px;
}

/* form */
.InputWrap {
  display: flex;
  height: 50px;
  border-radius: 15px;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.Input {
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #333;
  background-color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
}

.Button {
  width: 20%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: #1da1ff;
}

/* end form */
/* Card List */
.Card__list {
  display: flex;
}

.Card {
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 15px;
  background-color: #afdeff;
  font-size: 14px;
  color: #333;
  margin-left: 24px;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.25);
}

.Card:first-child {
  margin-left: 0px;
}

.Card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card__info--title {
  font-size: 24px;
  font-weight: 700;
}

.Card__info--description {
  margin-top: 0px;
  font-size: 16px;
}

.Card__info--temp {
  margin-top: 0px;
  font-size: 36px;
  margin-bottom: 10px;
}

.Card__info--temp::after {
  content: "°";
}

.Subinfo {
  margin-top: 12px;
}

.Subinfo>p {
  margin-top: 0px;
}

/* End Card List */